apprendista_nome=Alla ricerca del maestro
apprentice_description=Timothy vi ha detto che se vedete il suo maestro, di dirgli che è tornato alla bottega.
assassinquest_name=Sussurri nell'ombra
assassinquest_description=La figura dell'ombra vuole un forte veleno, che può essere trovato all'interno di una caverna di ragno ad Aquarfall.
bakerson_name=Il figlio del fornaio
bakerson_description=Hai detto al fornaio che troverai suo figlio all'Arco della Foresta.
belphyorhorn_name=Il corno di Belphyor
belphyorhorn_description=Questo è il corno del Grande Demone Belphyor. Qualcuno potrebbe volere questo potente oggetto.
belphyorquest_name=La vendetta dei folletti
belphyorquest_description=Belphyor, il Grande Demone, vuole che tu evochi gli imp in un luogo pieno di cultisti.
belphyorscroll_name=Pergamena di Belphyor
belphyorscroll_description=Belphyor ti ha dato questa pergamena per evocare gli imp.
bigfish_name=Pesce grande
bigfish_description=Hai pescato questo pesce nel lago di Senenthia. Sembra delizioso.
goblin_name=La richiesta del capo tribù
goblinquest_description=Hai accettato di aiutare i goblin e di uccidere la bestia che si nutre di loro.
goldensheepquest_name=La pecora d'oro
goldensheepquest_description=Hai trovato la posizione della leggendaria pecora d'oro.
goldenwool_name=Lana d'oro
goldenwool_description=La lana della leggendaria pecora d'oro. è molto preziosa.
goldtrophy_name=Trofeo d'oro
goldtrophy_description=Un trofeo d'oro che commemora la vostra vittoria nell'arena di Velkarath.
grainsack_name=Sacco di grano
grainsack_description=Un piccolo sacco di grano prodotto nei campi di Senenthia.
hammer_name=Martello e chiodi
hammer_description=Un martello e alcuni chiodi per riparazioni veloci.
harpyegg_name=Uovo di arpia
harpyegg_description=Un uovo di arpia, date le giuste condizioni, potrebbe anche schiudersi.
hugeruby_name=Rubino enorme
hugeruby_description=Un tempo era l'occhio di una grande statua di serpente. è molto prezioso.
jeweledkey_name=Chiave gioiello
jeweledkey_description=Una piccola chiave con un gioiello trovata in una tomba.
keyaquarfall_name=Chiave misteriosa
keyaquarfall_description=Una chiave misteriosa che si suppone apra il più grande tesoro mai esistito.
keynorth_name=Chiave misteriosa
keynorth_description=Una chiave misteriosa con un nastro bianco trovata nelle fogne ghiacciate.
keyobelisk_name=Chiave misteriosa
keyobelisk_description=Una chiave misteriosa che hai trovato.
keyvelkarath_name=Chiave misteriosa
keyvelkarath_description=Una chiave misteriosa con un nastro nero trovata nella Forgia Nera.
largeemerald_name=Grande smeraldo
largeemerald_description=Hai trovato questo smeraldo in uno scomparto segreto. è molto prezioso.
lorequest_name=Antica conoscenza
lorequest_description=Uno gnomo ti ha chiesto di cercare dei libri antichi per aiutarlo a far volare la sua invenzione.
magicsapphyre_name=Zaffiro magico 
magicsapphyre_description=Uno zaffiro magico esaurito. Nonostante ciò, è ancora molto prezioso.
magictorch_name=Torcia magica
magictorch_description=Una torcia magica che potete usare per sciogliere il ghiaccio o per evitare di congelarvi.
merchantcard_name=Carta del Mercante
merchantcard_description=Con questa carta VIP del mercante, potrete ottenere sconti in vari negozi.
minstrelquest_name=Uno strumento elegante
minstrelquest_description=Gustav ha bisogno di un nuovo liuto, ma non uno qualsiasi: quello che desidera si trova in una dimora elfica.
moonstone_name=Pietra di luna
moonstone_description=Una pietra lucente che hai rubato a un'anziana driade nella Foresta di Senenthia.
mosquitoegg_name=Uovo di zanzara
mosquitoegg_description=Un uovo di zanzara che, date le giuste condizioni, potrebbe anche schiudersi.
naganotes_name=Note dei Naga
naganotes_description=Li hai trovati nel villaggio dei crocomen; spiegano come decifrare le rune naga.
emerald_name=Smeraldo
emerald_description=Uno smeraldo scavato nella cava.
gemstone_name=Pietra preziosa
gemstone_description=Una pietra comune scavata nella cava.
map1_name=Interessanti rovine
map1_description=Hai una mappa che porta a delle rovine interessanti da qualche parte nelle rovine superiori.
map2_name=Rovine interessanti
map2_description=Hai una mappa che porta a delle rovine interessanti da qualche parte nelle rovine superiori.
map3_name=Rovine interessanti
map3_description=Hai una mappa che conduce a delle interessanti rovine da qualche parte nelle rovine superiori.
mayonnaise_name=Strana maionese
mayonnaise_description=Un ingrediente speciale per la gara di cucina da qualche parte nelle rovine superiori.
monsteregg_name=Uovo di mostro
monsteregg_description=Un uovo di mostro regalato da una ragazza.
monsteregg2_name=Uovo di mostro
monsteregg2_description=Un ingrediente speciale per la gara di cucina da qualche parte nelle rovine superiori.
monstertrainer_name=Consegna l'uovo a Bash
monstertrainer_description=Una ragazza ti ha chiesto di portare questo uovo a Bash, da qualche parte nelle rovine superiori.
obsidian_name=Lingotti di ossidiana
obsidian_description=Hai creato dei lingotti di ossidiana nella cava.
ruby_name=Rubino
ruby_description=Un rubino che hai scavato nella cava.
sackofgrain_name=Sacco di grano
sackofgrain_description=Un ingrediente speciale per la gara di cucina da qualche parte nelle rovine superiori.
smallmap_name=Mappa speciale
smallmap_description=è una mappa che conduce ad alcune interessanti rovine da qualche parte nelle rovine superiori.
smalltreasuremap_name=Mappa del tesoro
smalltreasuremap_description=è una mappa del tesoro che conduce da qualche parte nelle rovine superiori.
thecook_name=La gara di cucina
thecook_description=Hai accettato di aiutare un uomo ratto a partecipare a una gara di cucina da qualche parte nelle rovine superiori.
thecourier_name=Consegna a domicilio
thecourier_description=Consegna il pesante pacco agli avventurieri da qualche parte nelle rovine superiori.
treasuremapquest_name=Caccia al tesoro
treasuremapquest_description=Hai una mappa che conduce a un tesoro nascosto da qualche parte nelle rovine superiori.
obsidianingots_name=Lingotti di ossidiana
obsidianingots_description=Hai ottenuto questi lingotti in un carico intercettato a Velkarath.
oldjournal_name=Vecchio diario
oldjournal_description=L'hai trovato in una grotta. Forse qualcuno alla locanda del Gufo Felice conosceva il proprietario.
oldnotes_name=Vecchi appunti
oldnotes_description=Li hai trovati nel forziere nel lago; uno di essi è lo schizzo di un albero.
oldrope_name=Vecchia corda
oldrope_description=Una corda utile che hai usato per ricostruire una casa.
pigcaptured_name=Maiale catturato
pigcaptured_description=Hai legato questo maiale alla porta d'ingresso del seminterrato.
piratecoin_name=Moneta pirata
piratecoin_description=Una moneta con il teschio e le ossa incrociate; l'hai ottenuta per aver salvato qualcuno dai ragni.
priestquest_name=L'uomo maiale spaventato
priestquest_description=Hai promesso al sacerdote che ti occuperai di Yogger al campo dei banditi.
prophetquest_name=Trovare Tsnemo
prophetquest_description=Trova la nave mercantile di Tsnemo e consegna il pacco a Tsnemo.
pyromancerquest_name=Il mago errante
pyromancerquest_description=Hai detto al vecchio che recupererai il suo bastone di fuoco nella base principale dei cultisti a Velkarath.
rabbitmeat_name=Carne di coniglio
rabbitmeat_description=Un mucchio di carne di coniglio che hai salvato dopo essere sopravvissuto all'Orda Bianca.
rime_name=Rime dell'Antico Marinaio
rime_description=Un libro che racconta le sventure di un marinaio che spara a un albatros.
rimeoftheancienti_name=Rime dell'Antico Marinaio I
rimeoftheancienti_description=Recupera il libro del marinaio nella capanna del pescatore.
rimeoftheancientii_name=Rime dell'Antico Marinaio II
rimeoftheancientii_description=Consegna le Rime dell'Antico Marinaio ai marinai del Porto Nord.
sentinelquest_name=L'ultima sentinella
sentinelquest_description=Trova un modo per riparare il golem. Puoi trovare un nuovo nucleo nella Forgia Nera di Velkarath.
sheeplost_name=La pecora perduta
sheeplost_description=Restituisci Betty al suo padrone vicino a Eastern Farmland.
slimebait_name=Esca di melma
slimebait_description=L'esca di melma fatta in casa ottenuta dagli uomini lucertola.
smalllog_name=Piccolo tronco
smalllog_description=Un piccolo tronco di legno; ha una tonalità scura ed emana un certo calore.
treasurehunt_name=Caccia al tesoro
treasurehunt_description=Ora conosci la posizione dell'albero in cui è nascosto il tesoro.
nome_caccia_al_ esoro= Caccia al tesoro II
treasurehuntii_description=La mappa porta al tesoro, ma solo se si ricorda il luogo indicato dalla mappa.
treasuremap_name=Mappa del tesoro
treasuremap_description=è una mappa del tesoro, ma l'immagine è magicamente scomparsa.
tsnemogem_name=Gemma viola
tsnemogem_description=Una gemma regalata da Tsnemo da usare nelle rovine superiori.
wardenquest_name=Salvare i treant
wardenquest_description=Bree ti ha affidato un seme di Ylmer da piantare in un luogo adatto.
ylmerseed_name=Seme di Ylmer
ylmerseed_description=Uno dei pochi semi di Ylmer rimasti.