apprentice_name=Looking for the master
apprentice_description=Timothy has told you that if you see his master, to tell him that he has returned to the workshop.
assassinquest_name=Whispers in the shadow
assassinquest_description=The shadow figure wants a strong venom, which can be found inside a spider cave in Aquarfall.
bakerson_name=The baker's son
bakerson_description=You told the baker that you will find his son at the Forest Arch.
belphyorhorn_name=Belphyor's Horn
belphyorhorn_description=This is the horn of Greater Demon Belphyor. Someone may want this powerful item.
belphyorquest_name=Revenge of the imps
belphyorquest_description=Belphyor, the Greater Demon, wants you to summon the imps in a place full of cultists.
belphyorscroll_name=Belphyor Scroll
belphyorscroll_description=Belphyor gave you this scroll to summon the imps.
bigfish_name=Big Fish
bigfish_description=You caught this fish in Senenthia Lake. It looks delicious.
goblinquest_name=The chieftain's request
goblinquest_description=You agreed to help the goblins and kill the beast that feeds on them.
goldensheepquest_name=The Golden Sheep
goldensheepquest_description=You have the location of the legendary golden sheep.
goldenwool_name=Golden Wool
goldenwool_description=The wool of the legendary golden sheep. It is very valuable.
goldtrophy_name=Gold Trophy
goldtrophy_description=A gold trophy commemorating your victory in the arena of Velkarath.
grainsack_name=Grain Sack
grainsack_description=A small sack of grain produced in the fields of Senenthia.
hammer_name=Hammer and Nails
hammer_description=A hammer and a few nails for quick repairs.
harpyegg_name=Harpy Egg
harpyegg_description=A harpy egg, given the right conditions, could even hatch.
hugeruby_name=Huge Ruby
hugeruby_description=It used to be the eye of a large snake statue. It is very valuable.
jeweledkey_name=Jeweled key
jeweledkey_description=A small key with a jewel you found inside a grave.
keyaquarfall_name=Mysterious key
keyaquarfall_description=A mysterious key that supposedly opens the greatest treasure that has ever existed.
keynorth_name=Mysterious key
keynorth_description=A mysterious key with a white ribbon that you found inside the frozen sewers.
keyobelisk_name=Mysterious key
keyobelisk_description=A mysterious key you found.
keyvelkarath_name=Mysterious key
keyvelkarath_description=A mysterious key with a black ribbon that you found inside the Black Forge.
largeemerald_name=Large Emerald
largeemerald_description=You found this emerald in a secret compartment. It is very valuable.
lorequest_name=Ancient knowledge
lorequest_description=A gnome has asked you to look for ancient books to help him make his invention fly.
magicsapphyre_name=Magic Sapphire 
magicsapphyre_description=A depleted magic sapphire. Even so, it is still very valuable.
magictorch_name=Magic Torch
magictorch_description=A magic torch that you can use to melt ice or to prevent yourselves from freezing.
merchantcard_name=Merchant Card
merchantcard_description=With this merchant VIP card, you will get discounts at various stores.
minstrelquest_name=A stylish instrument
minstrelquest_description=Gustav needs a new lute, but not just any lute; the one he wants is in an elven mansion.
moonstone_name=Moonstone
moonstone_description=A shiny stone you stole from an elder dryad in the Senenthia Forest.
mosquitoegg_name=Mosquito Egg
mosquitoegg_description=A mosquito egg, given the right conditions, could even hatch.
naganotes_name=Naga Notes
naganotes_description=You found them in the crocomen village; they explain how to decipher the naga runes.
emerald_name=Emerald
emerald_description=An emerald you dug in the quarry.
gemstone_name=Gemstone
gemstone_description=A common gemstone you dug in the quarry.
map1_name=Interesting ruins
map1_description=You have a map that leads to some interesting ruins somewhere in the upper ruins.
map2_name=Interesting ruins
map2_description=You have a map that leads to some interesting ruins somewhere in the upper ruins.
map3_name=Interesting ruins
map3_description=You have a map that leads to some interesting ruins somewhere in the upper ruins.
mayonnaise_name=Strange Mayonnaise
mayonnaise_description=A special ingredient for the cooking contest somewhere in the upper ruins.
monsteregg_name=Monster egg
monsteregg_description=A monster egg given to you by a girl.
monsteregg2_name=Monster egg
monsteregg2_description=A special ingredient for the cooking contest somewhere in the upper ruins.
monstertrainer_name=Deliver the egg to Bash
monstertrainer_description=A girl asked you to bring this egg to Bash, somewhere in the upper ruins.
obsidian_name=Obsidian Ingots
obsidian_description=You made some obsidian ingots in the quarry.
ruby_name=Ruby
ruby_description=A ruby you dug in the quarry.
sackofgrain_name=Grain sack
sackofgrain_description=A special ingredient for the cooking contest somewhere in the upper ruins.
smallmap_name=Special map
smallmap_description=It is a map that leads to some interesting ruins somewhere in the upper ruins.
smalltreasuremap_name=Treasure Map
smalltreasuremap_description=It is a treasure map that leads somewhere in the upper ruins.
thecook_name=The cooking contest
thecook_description=You agreed to help a rat man participate in a cooking contest somewhere in the upper ruins.
thecourier_name=Home delivery
thecourier_description=Deliver the heavy package to the adventurers somewhere in the upper ruins.
treasuremapquest_name=Treasure hunt
treasuremapquest_description=You have a map that leads to a treasure hidden somewhere in the upper ruins.
obsidianingots_name=Obsidian Ingots
obsidianingots_description=You got these ingots in a shipment you intercepted in Velkarath.
oldjournal_name=Old Journal
oldjournal_description=You found this in a cave. Perhaps someone at the Happy Owl Inn knew the owner.
oldnotes_name=Old Notes
oldnotes_description=You found them inside the chest in the lake; one of them is a sketch of a tree.
oldrope_name=Old Rope
oldrope_description=A useful rope that you used to help rebuild a house.
pigcaptured_name=Captured Pig
pigcaptured_description=You tied this pigman at the basement front door.
piratecoin_name=Pirate Coin
piratecoin_description=A coin with the skull and crossbones; you got it for saving someone from spiders.
priestquest_name=The scared pigman
priestquest_description=You promised the priest that you will deal with Yogger at the Bandit Camp.
prophetquest_name=Finding Tsnemo
prophetquest_description=Find Tsnemo's merchant ship and deliver the package to Tsnemo.
pyromancerquest_name=The wandering wizard
pyromancerquest_description=You told the old man that you will retrieve his fire staff at the cultist main base in Velkarath.
rabbitmeat_name=Rabbit Meat
rabbitmeat_description=A pile of rabbit meat that you saved after surviving the White Horde.
rime_name=Rime of the Ancient Mariner
rime_description=A book that tells the misfortunes of a seaman who shoots an albatross.
rimeoftheancienti_name=Rime of the Ancient Mariner I
rimeoftheancienti_description=Retrieve the sailor's book in the fisherman's hut.
rimeoftheancientii_name=Rime of the Ancient Mariner II
rimeoftheancientii_description=Deliver the Rime of the Ancient Mariner to the sailors in the Northern Harbor.
sentinelquest_name=The last sentinel
sentinelquest_description=Find a way to repair the golem. You can find a new core in the Black Forge in Velkarath.
sheeplost_name=The lost sheep
sheeplost_description=You will return Betty to her owner near Eastern Farmland.
slimebait_name=Slime Bait
slimebait_description=The homemade slime bait that you got from the lizardmen.
smalllog_name=Small Log
smalllog_description=A small log of wood; it has a dark tone and gives off some heat.
treasurehunt_name=Treasure Hunt
treasurehunt_description=Now you know the location of the tree where the treasure is hidden.
treasurehuntii_name=Treasure Hunt II
treasurehuntii_description=The map leads to the treasure, but only if you remember the place the map showed.
treasuremap_name=Treasure Map
treasuremap_description=It is a treasure map, but the image magically vanished.
tsnemogem_name=Purple Gem
tsnemogem_description=A gem given to you by Tsnemo to use in the upper ruins.
wardenquest_name=Saving the treants
wardenquest_description=Bree has entrusted you with one Ylmer's seed to plant in a suitable location.
ylmerseed_name=Ylmer's seed
ylmerseed_description=One of the few remaining Ylmer seeds.